.navbar {
    background-color: #A8D8EE;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* allows wrapping on small screens */
    gap: 1rem;
}

.logo img {
    height: 60px;
    object-fit: contain;
}

.search-bar input {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    border: 1px solid #ddd;
    width: 250px;
}

.create-events,
.categories {
    margin: 0 1rem;
    font-weight: bold;
    cursor: pointer;
}

.auth-button {
    margin-left: auto;
}

.login-register-btn {
    padding: 8px 20px;
    border-radius: 12px;
    background-color: #8ABAE7;
    border: 1px solid #ccc;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
    transition: background-color 0.3s;
}

.login-register-btn:hover {
    background-color: #e0e0e0;
}