@font-face {
  font-family: 'Dai Banna SIL';
  src: url('./fonts/DaiBannaSIL-Regular.ttf') format('truetype');
}

/* Light blue box holding the form */
.new-password-wrapper {
    background-color: #b6e0f4;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60vh;
    height: 50%;
    padding: 50px;
    width: 700px;
    margin: 0 auto;
    border-radius: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Branding text (Ticket Please?) */
.branding {
    position: absolute;
    top: 40px;
    left: 40px;
    font-family: 'Dai banna SIL', serif;
    font-size: 28px;
    color: #000;
     white-space: nowrap;
}

/* Outer container with white background & centered content */
.form-container {
    font-family: 'Dai Banna SIL', serif;
    background-color: #fff;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
    min-width: 500px;
    max-width: 400px;
    text-align: center;
}

/* Instruction text above the form */
.form-subtext {
    display: block;
    margin-bottom: 20px;
    color: #000;
    font-size: 18px;
}

/* Password input fields */
.form-control {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
    font-family: 'Dai Banna SIL', serif;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 20px;
    box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.1);
}

/* Submit button */
.btn-primary {
    width: 100%;
    box-sizing: border-box;
    background-color: #add8e6;
    border: 1px solid #888;
    padding: 10px;
    font-family: 'Dai Banna SIL', serif;
    font-size: 20px;
    font-weight: bold;
    color: #000;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Hover effect for button */
.btn-primary:hover {
    background-color: #5aa8c9;
}

/* Success or confirmation message */
.alert {
    margin-top: 10px;
    font-size: 13px;
}

.alert-success {
    color: green;
}

.alert-danger {
    color: red;
}
