.container {
  display: flex;
  flex-direction: column;
  padding: 0 2rem; 
}

.filters {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; 
  gap: 1rem;               
  align-items: center;
  overflow-x: auto;  
  padding: 0 1rem;
}

.search-alert {
  background-color: #fbe9e9;
  color: #d00000;
  padding: 10px 20px;
  border-left: 4px solid #d00000;
  margin-bottom: 20px;
  font-weight: bold;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 30px;
  padding: 0 1rem; 
}

.event {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  aspect-ratio: 4 / 3; 
  overflow: hidden;
  transition: transform 0.2s ease;
}

.event:hover {
  transform: translateY(-5px);
}

.event-image {
  width: 100%;
  height: 300px; 
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 10px;
}

.event-date {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  text-align: center;
}

.event-details {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}