.uploadBox {
  width: 240px;
  height: 260px;
  border: 2px dashed #bbb;
  border-radius: 10px;
  text-align: center;
  padding: 20px;
  position: relative;
  background-color: #fff;
  cursor: pointer;
  transition: border 0.3s;
}

.uploadBox:hover {
  border-color: #9FD5ED;
}

.uploadIcon {
  font-size: 32px;
  color: #9FD5ED;
  margin-bottom: 10px;
}

.uploadText {
  font-size: 16px;
  font-weight: 600;
  color: #9FD5ED;
  margin-bottom: 6px;
}

.uploadSubtext {
  font-size: 12px;
  color: #555;
}

.fileInput {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.profilePreview {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
