
body, html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Dai Banna SIL';
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fdf9f5;
  justify-content: center;
}
.signup {
  color: #000;
}
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background-color: #fdf9f5;
}

.card {
  display: flex;
  width: 700px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
  background-color: white;
}

.signup-form {
  flex: 1;
  background-color: white;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.signup {
  font-size: 2rem;
  margin-bottom: 10px;
}

.PROMO {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 30px;
  text-align: center;
  max-width: 90%;
}

form {
  display: flex;
  flex-direction: column;
}

.fn {
  margin-top: 10px;
  margin-bottom: 5px;
  font-size: 0.95rem;
  color: #000;
}

.box {
  display: block;
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #FCF8F5;
  color: #555;
}


.signup-button {
  margin-top: 10px;
  background-color: #9FD5ED;
  border: none;
  padding: 12px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  max-width: 200px;
}

.signup-button:hover {
  background-color: #9FD5ED;
}


.signup-right {
  flex: 1;
  background-color: #9FD5ED;
  color: #000;
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.signup-right h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.signup-right p {
  font-size: 0.9rem;
  margin-bottom: 20px;
  max-width: 85%;
}

.login-button {
  background-color: #fff;
  border: 1px solid #333;
  padding: 10px 25px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.login-button {
  background-color: #FCF8F5;
  color: #000;
}