/* General Reset and Layout */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #FCF8F5;
  font-family: 'Dai Banna SIL Regular';
  color: #000;
}

/* Header Section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 45px;
  font-weight: 700;
}

.back-button {
  background: none;
  border: none;
  color: #4A4A48;
  font-size: 26px;
  cursor: pointer;
  font-weight: 700;
  font-family: 'Poppins-Bold', sans-serif;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin: 0;
}

h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

/* Profile Photo Section */
.profile-photo-section {
  text-align: center;
  margin: 20px 0;
}

/* Form Sections */
.form-section {
  margin: 20px auto;
  max-width: 1500px;
}

.two-column {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 4px #000;
}

input {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  background-color: #FCF8F5;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 18px;
}



/* Inline Form Group (Email Section) */
.inline-group {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 1px 1px 4px #000;
  gap: 20px;
  max-width: 1500px;
}

/* Save Button */
.save-button {
  display: block;
  margin: 30px auto;
  padding: 15px 30px;
  background-color: #9FD5ED;
  border: 1px solid;
  font-size: 26px;
  border-radius: 15px;
  cursor: pointer;
  font-weight: 600;
}



.address-and-checkboxes {
  display: flex;
  flex-direction: column;
  gap: 20px;
}



.checkbox-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.checkbox-label {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 16px;
  cursor: pointer;
}

.checkbox-label input[type="checkbox"] {
  width: 16px;
  height: 16px;
  accent-color: #9FD5ED; 
}

