
body, html {
  background-color: #FCF8F5;
  font-family: 'Dai Banna SIL Regular';
  margin: 0; 
  padding: 0;  
  width: 100%;
  height: 100%;
}

.back-button {
  background: none;
  border: none;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 550;

}
h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Dai Banna SIL-Bold';
  
}
h2, h3 {
  margin-bottom: 20px;
  font-size: 36px;
  margin-left: 10px;
}

.event-info p {
  margin: 10px 0;
  font-size: 20px;
  margin-left: 10px;
}

.search-bar {
  margin: 20px 0;
  display: flex;
  margin-left: 10px;
}

.search-bar input {
  width: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-size: 20px;
}

.table-container {
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th, td {
  padding: 20px;
  text-align: left;
  font-size: 20px;

}

th {
  background-color: #fff;
}

.approve {
  color: green;
  font-weight: bold;
}
.reject {
  color: red;
  font-weight: bold;
}
.pending {
  color: orange;
  font-weight: bold;
  
}

.table-container {
  background-color: #fff;
  text-align: left;
  padding: 10px 16px;
}

.total {
  margin-top: 20px;
  text-align: right;
  font-size: 36px;
  padding-top: 10px;
  margin-right: 50px;
}