


body, html {
  background-color: #FCF8F5;
  margin: 0; 
  padding: 0;  
  width: 100%;
  height: 100%;
  font-family: 'Dai Banna SIL Regular';
}

.back-button {
  background: none;
  border: none;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  margin-bottom: 10px;
  margin-top: 20px;
  font-weight: 550;

}

.main-title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Dai Banna SIL-Bold';
  
}

h3, h2, h4 {
  text-align: left;
  margin-bottom: 20px;
  font-size: 36px;
  margin-left: 5px;
}

.event-details p {
  margin: 5px 0;
  font-size: 20px;
  margin-left: 5px;
}


.overview {  
  font-size: 20px;
  margin-left: 5px;
}

.table-wrapper {
  overflow-x: auto;
}

.participants-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}



.participants-table thead, .participants-table th,
.participants-table td {
  text-align: left;
  padding: 10px 16px;

  background-color: #fff;
}

.participants-table tr:hover {
  background-color: #FCF8F5;
}

.footer-info {
  margin-top: 20px;
  text-align: right;
  font-size: 25px;

  padding-top: 10px;
  margin-right: 50px;
}
